@charset "utf-8";


$blockquote_side_padding: 5%;
/* CSS-Dokument zu wsp2_projektarbeit_vorname_nachname.html von Name Vorname */

p {
  //padding: 10px;
  text-align: justify;
}

li{
  text-align: justify-all;
}

img {
  width: 100%;
}

figure {
}

article {
  padding-left: 50px;
  padding-right: 50px;
}

q{
  font-style: italic;
}

blockquote{
  padding-left: $blockquote_side_padding !important;
  padding-right: $blockquote_side_padding !important;
  text-align: justify;
  font-style: italic;
}

main{
  padding: 0 !important;
}

// #####################################################################################################################
// break points


@media only screen and (max-width: 600px) {
  .col-1{
    width: 20%;
  }
  .col-2{
    width: 25%;
  }
  .col-3{
    width: 50%;
  }
  .col-4{
    width: 100%;
  }
  .col-5{
    width: 100%;
  }
  .col-6{
    width: 100%;
  }
  .col-7{
    width: 100%;
  }
  .col-8{
    width: 100%;
  }
  .col-9{
    width: 100%;
  }
  .col-10{
    width: 100%;
  }
  .col-11{
    width: 100%;
  }
  .col-12{
    width: 100%;
  }
}

//maybe two
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .col-1{
  }
  .col-2{
  }
  .col-3{
  }
  .col-4{
  }
  .col-5{
  }
  .col-6{
    width: 100%;
  }
  .col-7{
    width: 100%;
  }
  .col-8{
    width: 100%;
  }
  .col-9{
    width: 100%;
  }
  .col-10{
    width: 100%;
  }
  .col-11{
    width: 100%;
  }
  .col-12{
    width: 100%;
  }

}

//max amount of columns
@media only screen and (min-width: 901px) {
  .col-1{
  }
  .col-2{
  }
  .col-3{
  }
  .col-4{
  }
  .col-5{
  }
  .col-6{
  }
  .col-7{
  }
  .col-8{
  }
  .col-9{
  }
  .col-10{
  }
  .col-11{
  }
  .col-12{
  }
}
